body {
    font-family: Arial, sans-serif;
}

#todo-list {
    width: 300px;
    margin: auto;
}

h1 {
    text-align: center;
}

#new-task {
    width: 70%;
    padding: 10px;
    margin-right: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px;
    background-color: #5CACEE;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.delete-btn {
    margin-left: 10px;
    background-color: #f44336;
}
